---
layout: default
---

<article class="pillar-content enterprise-article">

    <header class="article-header">
        <h1>{{ page.title }}</h1>
        <p class="article-meta">
            <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            {% if page.last_modified %}
            &middot; Updated: <time datetime="{{ page.last_modified | date_to_xmlschema }}">{{ page.last_modified | date: "%b %-d, %Y" }}</time>
            {% endif %}
        </p>
    </header>

    {% include geo-summary.html %}

    {% include cluster-toc.html %}

    <div class="article-body">
        {{ content }}
    </div>

    {% include definitions.html %}
    {% include sources.html %}

    {% if page.faq %}
        {% include faq.html %}
    {% endif %}

</article>
